[submodule "components/r1"]
	path = components/r1
	url = https://github.com/LuxInTenebr1s/esp32_magicsee_r1.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "main/nlohmann_json"]
	path = main/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "components/websocket"]
	path = components/websocket
	url = https://github.com/Molorius/esp32-websocket.git
[submodule "components/neopixelbus/NeoPixelBus"]
	path = components/neopixelbus/NeoPixelBus
	url = https://github.com/Makuna/NeoPixelBus/
[submodule "components/leds/WS2812FX"]
	path = components/leds/WS2812FX
	url = https://github.com/kitesurfer1404/WS2812FX.git
[submodule "components/leds/NeoPixelBus"]
	path = components/leds/NeoPixelBus
	url = https://github.com/Makuna/NeoPixelBus
